multi_file/figure1.pdf
multi_file/figure1.png
multi_file/manuscript.docx
multi_file/manuscript.pdf
multi_file/manuscript_custom.docx
single_file/figure1.pdf
single_file/figure1.png
single_file/manuscript.docx

